* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: orange;
    border: solid;
    border-width: 15px;
    padding: 10px;
    margin: 25px 25px 25px 25px
}

.top-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: fantasy;
}

.header {
    background: black;
    border: solid;
    border-color: white;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: overline;
}

.header-links {
    font-family: fantasy;
    font-size: large;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
}

.image-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.page-title-text-container {
    text-align: center;
    font-family: fantasy;
    color: black;
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
    margin: 0px;
}

.text-container2 {
    text-align: center;
    font-family: fantasy;
    font-size: 3em;
    font-weight: bold;
}

.image-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 4em;
}

.paragraph {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

.links {
    margin: 10px;
    font-family: fantasy;
    text-decoration: none;
    font-size: x-large;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid black;
}

img {
    border-radius: 40px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thick;
    border-color: white;
    padding: 5px;
    margin: 5px;
}

.eagle {
    border: solid;
    border-width: thick;
    border-color: black;
    max-width: 50%;
}

.einstein {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
}

.text-5 {
    text-align: center;
}

.beethoven {
    display: flex;
    max-width: 30%;
    flex-direction: column;
    align-items: center;
}

.german-america-jingle {
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    font-weight: bold;
}

.text-container-home-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.werner-von-siemens {
    display: flex;
    max-width: 30%;
    flex-direction: column;
    align-items: center;
}

.back-link {
    font-size: 1.5em;
    font-family: fantasy;
    text-decoration: none;
}

.company-map {
    display: flex;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
}

span {
    color: white;
}

button {
    font-family: fantasy;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 40px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thick;
    padding: 5px;
    margin: 5px;
}

li {
    text-decoration: none;
}

.image-container-7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-of-chapter {
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: underline;
}

.image-container-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#question {
    text-align: center;
}

.hexagonal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}

